*{
    padding: 0;
    margin: 0;
    font-family: 'Itim', cursive;
}

.hide-background{
    display: none;
}
.background-TicTacToe{
    background-color: lightgrey;
    height: 100vh;
    padding-top: 1px
}

.title-TicTacToe{
    color: black;
    text-align: center;
    font-size: 40px;
    margin-top: 5%;
}

.display-TicTacToe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: red; 
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0em;
}

.symbol-1, .symbol-2{
    margin-top: 1em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 0em;
}

/* .display-modes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.hide{
    display: none;
} */

.board-TicTacToe{
    margin: 20px auto 0;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 9px;
}

.cell{
    border: 3px solid royalblue;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.playerX{
    color:aliceblue;
}

.playerO{
    color:aliceblue
}

.controls-TicTacToe{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.mode-options-TicTacToe{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-top: 1em;
}

.return-game{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 1em;
}

#Ai-vs-Ai-TicTacToe, #Ai-against-Ai-TicTacToe, #Two-Player-TicTacToe, #reset, #back-TicTacToe {
    background-color: red;
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}

#directions-tictactoe, #back-to-start{
    background-color: grey;
    color: black;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 15px;
    margin-left: 1em;
    margin-top: 1em;
    cursor: pointer;
}

.directions{
    display: flex;
    justify-content: center;
    align-items: center;
    color: royalblue; 
    font-size: 30px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0em;
}

#chooseX, #chooseX2, #chooseO, #chooseO2 {
    background-color: royalblue;
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}

#chooseX{
    margin-left: 4.5em;
    margin-right: 0.5em;
}

#chooseO, #chooseX2{
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#chooseO2{
    margin-right: 4.5em;
    margin-left: 0.5em;
}

#chooseX.clicked, #chooseX2.clicked, #chooseO.clicked, #chooseO2.clicked {
    background-color: rgb(129, 210, 245); /* change the background color when clicked */
    color: black; /* change the text color when clicked */
}